<div class="nested-fields exame">
  <div class="col-md-12 col-sm-6 col-xs-12">
    <table class="table table-bordered" id='parent_table'>
      <tr>
        <th width="20%">
          <div class="text-center">
            <%= Laboratorio.human_attribute_name(:nome) %>
          </div>
        </th>
        <th width="20%">
          <div class="text-center">
            <%= Exame.human_attribute_name(:nome) %>
          </div>
        </th>
        <th width="20%">
          <div class="text-center">
            <%= Exame.human_attribute_name(:tipo_exame) %>
          </div>
        </th>
        <th width="5%">
          <div class="text-center">
            Ação
          </div>
        </th>
      </tr>

      <tr>
        <%= f.simple_fields_for :exames do |b| %>
          <%= render 'exame_fields', :f => b %>
        <% end %>
      </tr>
    </table>
    <div class="row">
      <div class="col-lg-5">
        <%= link_to_add_association f, :exames, class: 'btn btn-primary add_laboratorio_item' do %>
          <i class='fa fa-plus'></i> Adicionar Exame
          <% end %>
      </div>
    </div>
  </div>
</div>
