<div class="box box-danger">
  <div class="box-header with-border inside">
    <h3 class="box-title">Dados Básicos</h3>
  </div>
  <div class="box-body no-padding">
    <table class="table table-bordered table-striped">
      <tr>
        <td width="2%"><strong><%= Laboratorio.human_attribute_name(:nome) %>:</strong></td>
        <td width="35%"><%= @laboratorio.nome %></td>
        <td width="2%"><strong><%= Laboratorio.human_attribute_name(:cnpj) %>:</strong></td>
        <td width="35%"><%= @laboratorio.cnpj %></td>
      </tr>
      <tr>
        <td width="2%"><strong><%= Laboratorio.human_attribute_name(:rua) %>:</strong></td>
        <td width="35%"><%= @laboratorio.rua %></td>
        <td width="2%"><strong><%= Laboratorio.human_attribute_name(:bairro) %>:</strong></td>
        <td width="35%"><%= @laboratorio.bairro %></td>
      </tr>
      <tr>
        <td width="2%"><strong><%= Laboratorio.human_attribute_name(:numero) %>:</strong></td>
        <td width="35%"><%= @laboratorio.numero %></td>
        <td width="2%"><strong><%= Laboratorio.human_attribute_name(:logradouro) %>:</strong></td>
        <td width="35%"><%= @laboratorio.logradouro %></td>
      </tr>
      <tr>
        <td width="2%"><strong><%= Laboratorio.human_attribute_name(:cep) %>:</strong></td>
        <td width="35%"><%= @laboratorio.cep %></td>
        <td width="2%"><strong><%= Laboratorio.human_attribute_name(:complemento) %>:</strong></td>
        <td width="35%"><%= @laboratorio.complemento %></td>
      </tr>
      <tr>
        <td width="2%"><strong><%= Laboratorio.human_attribute_name(:cidade) %>:</strong></td>
        <td width="35%"><%= @laboratorio.cidade %></td>
        <td width="2%"><strong><%= Laboratorio.human_attribute_name(:estado) %>:</strong></td>
        <td width="35%"><%= @laboratorio.estado %></td>
      </tr>
      <tr>
        <td width="2%"><strong><%= Laboratorio.human_attribute_name(:status) %>:</strong></td>
        <td width="35%"><%= @laboratorio.status %></td>
      </tr>
    </table>
  </div>
</div>

  <div class="box box-danger">
    <div class="box-header with-border inside">
      <h3 class="box-title">
        Relação de exame(s)
      </h3>
    </div>
    <div class="box-body no-padding">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class='text-center'>Nome</th>
            <th class='text-center'>Tipo</th>
            <th class='text-center'>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <% @laboratorios.each do |b| %>
              <% b.exames.each do |i| %>
                <tr class="text-center">
                  <td><%= i.nome if i.present? %></td>
                  <td><%= i.tipo if i.present? %></td>
                  <td><%= i.status if i.present? %></td>
                </tr>
              <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="box-footer">
    <%= link_to 'Voltar', eval_with_rescue("#{controller_name}_path"), class: "btn btn-default" %>
    <%= link_to 'Editar', edit_laboratorio_path(@laboratorio), class: "btn btn-primary" %>
  </div>
