<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @laboratorio.nome %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @laboratorio.cnpj %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @laboratorio.rua %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @laboratorio.bairro %>
</p>

<p>
  <strong>Logradouro:</strong>
  <%= @laboratorio.logradouro %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @laboratorio.numero %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @laboratorio.complemento %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @laboratorio.cep %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @laboratorio.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @laboratorio.estado %>
</p>

<p>
  <strong>Status:</strong>
  <%= @laboratorio.status %>
</p>

<%= link_to 'Edit', edit_laboratorio_path(@laboratorio) %> |
<%= link_to 'Back', laboratorios_path %>
