<%= simple_form_for @exame do |f| %>
<div class="box box-danger">
  <div class="box-header with-border inside">
    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
        <%= f.input :nome %>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
        <%= f.input :exame_tipo, as: :select,
                collection: Exame.exame_tipos.collect{|k, v|
                  [t("activerecord.attributes.exame.exame_tipos.#{k}"), k]
                }, label: 'Tipo Exame' %>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
        <%= f.input :exame_state, as: :select,
                collection: Exame.exame_states.collect{|k, v|
                  [t("activerecord.attributes.exame_states.exame_states.#{k}"), k]
                }, label: 'Tipo' %>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <%= f.association :laboratorio, label_method: :nome, input_html: { class: 'chzn-select'} %>
      </div>
    </div>
    <div class="box-footer">
      <%= link_to 'Voltar', eval_with_rescue("#{controller_name}_path"), class: "btn btn-default" %>
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
</div>
<% end %>
