<div class="box box-danger">
  <div class="box-header with-border inside">
    <h3 class="box-title">Dados Básicos</h3>
  </div>
  <div class="box-header with-border inside">
    <table class="table table-bordered table-striped">
      <tr>
        <td width="2%"><strong><%= Exame.human_attribute_name(:nome) %>:</strong></td>
        <td width="35%"><%= @exame.nome %></td>
        <td width="7%"><strong><%= Exame.human_attribute_name(:tipo) %>:</strong></td>
        <td width="35%"><%= @exame.tipo %></td>
      </tr>
      <tr>
        <td width="2%"><strong><%= Exame.human_attribute_name(:status) %>:</strong></td>
        <td width="35%"><%= @exame.status %></td>
        <td width="2%"><strong><%= Laboratorio.human_attribute_name(:laboratorio) %>:</strong></td>
        <td width="35%">
            <% @exame.laboratorios.each do |g| %>
              <%= g.nome if g.nome.present?%><br>
            <% end %>
        </td>
      </tr>
    </table>
  </div>
  <div class="box-header with-border inside">
    <%= link_to 'Voltar', eval_with_rescue("#{controller_name}_path"), class: "btn btn-default" %>
    <%= link_to 'Editar', edit_exame_path(@exame), class: "btn btn-primary" %>
  </div>
</div>
